# VitePress cache
.vitepress/cache

# VitePress build output
.vitepress/dist

.vitepress/.temp

# Node modules
node_modules

# Generated Pages Functions
functions/*.js

# macOS
.DS_Store

# Local environment files
*.local
