.motion-rail::-webkit-scrollbar {
  display: none;
}

.motion-rail{
  overflow: hidden;
  position: relative;
  container-type: inline-size;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  .motion-rail-container{
    display: grid;
    grid-auto-flow: column;
    height: 100%;
  }


}